.breadcrumbs {
    position: fixed;
    width: 84.5%;
    background-color: #ffffff;
    height: 20px;
    z-index: 1;
}

 .pull-right {
    float: right;
}

.scrollable-dropdown{
    height: auto;
    max-height: 450px;
    overflow-x: hidden;
}
    
